$textColor: #fff;
$primaryColor: #ff451b;
$bgBlocksColor: #494b50;
$bgItems: #5c5d64;
$bgColor: #1d1b1b;
$bgFooterColor: #3a3934;
$textGrey: #a7afbd;
$textGreyLight: #D3D3D3;

$font: 'Poppins', sans-serif;
