@import "../commond/styles/sass/variables";

.myWorksBlock {
  min-height: 100%;
  background-color: $bgColor;
  padding-top: 40px;
  padding-bottom: 40px;

  .myWorksContainer {
    justify-content: flex-start;
    flex-direction: column;
    background-color: $bgBlocksColor;
    border-radius: 15px;
    padding: 30px;

    .works {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1280px) {
        justify-content: center;
      }
    }
  }
}
