@import "../commond/styles/sass/variables";
@import "../commond/styles/sass/mixins";

.header {
    height: 50px;
    width: 100%;
    background-color: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    @media screen and (max-width: 590px) {
        display: none;
    }
}


