.contactsBlock {
    min-height: 100vh;
    background-color: #1d1b1b;
}

.title {
    background-color: lightgray;
}

.contactsContainer {
    justify-content: flex-start;
    flex-direction: column;
    background-color: #494b50;
}

.form {
    height: 300px;
    width: 70%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    height: 30px;
}

.button {
    height: 30px;
    width: 100px;
    margin: 0 auto;
}

@media screen and (max-width: 700px){
    .form {
        width: 100%;
    }
}