.skillsBlock {
    min-height: 100vh;
    background-color: #1d1b1b;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
    background-color: #494b50;
}

.title {
    background-color: lightgray;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 733px){
    .skills {
        justify-content: center;

    }
}