.mainBlock {
    min-height: 100vh;
    background-color: #3a3934;

}

.text {
    width: 300px;
    background-color: lightgray;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightgray;
}


@media screen and (max-width: 768px){
    div .mainContainer {
        justify-content: center;
    }
}