@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.title {
    margin-right: auto;
    & h2 {
        margin: 0 0;
        @include text($font, 40px, 1.2, 700, $textColor)
    }
    & span {
        display: inline-block;
        @include text($font, 23px, 1.2, 700, $primaryColor)
    }
    & p{
        margin-bottom: 20px;
        word-wrap: break-word;
        @include text($font, 30px, 1.6, 400, $textGrey)
    }

}



