@import "../../styles/sass/variables";
.title {
    margin-right: auto;
    & h2 {
        color: $textColor;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        font-family: $font;
        margin: 0 0;
    }
    & span {
        font-size: 23px;
        color: $primaryColor;
        font-weight: 700;
        display: inline-block;
        font-family: $font;
    }
    & p{
        font-size: 25px;
        margin-bottom: 20px;
        color: #a7afbd;
        line-height: 1.6;
        font-weight: 400;
        word-wrap: break-word;
    }

}



