@import "../commond/styles/sass/variables";
.footerBlock {
    min-height: 100%;
    background-color: #1d1b1b;
}

.footerContainer {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1d1b1b;
}

.text {
    margin-top: 20px;
    font-family: $font;
    color: #a7afbd;

}

.footerSocial {
    //border: 1px solid;
    width: 70%;
    min-width: 284px;
    display: flex;
    justify-content: space-between;
}

.items {
    background-color: darkgray;
    width: 68px;
    height: 68px;
}